* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(119, 92, 23);
  padding: 20px;
}

.intro__logo {
  padding: 5px 0 0 20px;
  width: 80px;
  height: 60px;
  border-radius: 50%;
}

.intro__nav {
  padding: 10px 20px 0 0;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
}

nav a:hover {
  color: darkred;
}

h1 {
  text-align: center;
  margin-top: 40px;
  text-shadow: 1px 1px 2px goldenrod, 0 0 25px grey, 0 0 5px rgb(85, 59, 59);
}

.main__p1 {
  text-align: center;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
}

.main {
  margin-left: 40px;
  margin-right: 40px;
}
.container1 {
  display: flex;
  justify-content: space-between;
}

.container1__txt {
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.container2__txt {
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.container3 {
  display: flex;
  justify-content: space-between;
}

.container3__txt {
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.container4 {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.container4__txt {
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

/*.container3 {
  display: block;
  justify-content: space-between;
  margin-top: 70px;
}
*/

/*.container4 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px;
}
*/
.container5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px;
}

.container6 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.container6__txt {
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  background-color: rgb(119, 92, 23);
}

.footer__txt {
  text-align: center;
  padding: 3px;
  background-color: rgb(119, 92, 23);
  color: rgb(14, 8, 8);
}

.footer__icons {
  display: flex;
  justify-content: space-around;
}
